/*

Colours
Off-Black: #0B0E21;
Off-White: #7EB7C1;
Red: #EE1850;
Blue: #7EB7C1;

/* ********************** FONTS *************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




/* ********************** STYLES *************************************/

* {
  box-sizing: border-box;
}

a {
  color: #7EB7C1;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #EE1850;
  text-decoration: underline;
}

a:visited { /* visited link */
  color: #7EB7C1;
}

a:active { /* selected link */
  color: #7EB7C1;
}

p {
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #edf2f4;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-variant-caps: all;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-variant-caps: all;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin:20px 0;
}

nav {
  right: 1em;
  top: 3em;
  display: block;
  font-size: 16px;
}

nav > ul {
  list-style-type: none;
  padding: 60px;
  text-align: center;
}

nav > ul > li {
  display: block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  
}

nav > ul > li > a:hover {
  
}

nav > ul > li > a:active {
  
}

ol, ul, li {
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  padding:10px 0;
  position: fixed;
  box-shadow:;
}

footer {
  background-color: #7EB7C1;
  padding: 20px;
  color: #fff;

}

footer a {
  color: #EE1850;
}

footer a:visited {
  opacity: 0.8;
  color: #EE1850;
}

footer a:active {
  color: #EE1850;
}




/* ********************** CLASSES *************************************/

.button {
  font-size: .75em;
  font-family: roboto, sans-serif;
  padding: 1em 4em;
  color: #FFF;
  background-color: #7EB7C1;
  text-align: center;
}

.button:hover {
  opacity: 0.8; 
  text-decoration: none;
  background-color: #EE1850;
}

.button:visited {
  color:#fff;
}

.container {
	padding-left: 50px;
  padding-right: 50px;
}

.navlogo {
  object-position: left;
  max-width:200px;
  text-align: center;
  display: none;
}

.description {
  text-align:center;
}

.thumbnail {
  width:100%;
  margin: 20px 0;
  object-fit: fill;
}

.portfolioimg{
  width:100%;
}

.centertext {
  display: block;
  text-align: center;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

.socialbutton {
  color:#fff;
  margin:10px;
  display:inline-block;
  max-width: 40px;

}

.emailbutton {
  font-size: .75em;
  font-family: roboto, sans-serif;
  padding: 1em 4em;
  color: #7EB7C1;
  background-color: #FFF;
  text-align: center;
}


/* ********************** ID *************************************/

#hero {
  padding: 20px;
  display: inline-block;
  overflow: visible;
  width:100%;
}

#hero h1 {
  text-align: center;
}




/****************************
TABLET - SMALL LAPTOP (768px-1439px)
****************************/

@media only screen and (min-width: 768px){

}



/****************************
DESKTOP (1440px +)
****************************/

@media only screen and (min-width: 1400px) {

}

