/*

Colours
Off-Black: #0B0E21;
Off-White: #7EB7C1;
Red: #EE1850;
Blue: #7EB7C1;

/* ********************** FONTS *************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




/* ********************** STYLES *************************************/

* {
  box-sizing: border-box;
}

a {
  color: #7EB7C1;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #EE1850;
}

a:visited { /* visited link */
  color: #7EB7C1;
}

a:active { /* selected link */
  color: #7EB7C1;
}

p {
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: #edf2f4;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-variant-caps: all;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-variant-caps: all;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin:20px 0;
}

nav {
  font-size: 16pt;
}

nav > ul {
  list-style-type: none;
  /*  padding: 60px 60px 0 60px; 
  text-align: center; */
}

/*
nav > ul > li {
  display: inline-block;
}
*/


ol, ul, li {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  height:80px;
  padding-top:15px;
  margin-bottom:30px;
}

footer {
  background-color: #7EB7C1;
  padding: 20px;
  color: #fff;

}

footer a {
  color: #EE1850;
}

footer a:visited {
  opacity: 0.8;
  color: #EE1850;
}

footer a:active {
  color: #EE1850;
}




/* ********************** CLASSES *************************************/

.button {
  font-size: .75em;
  font-family: roboto, sans-serif;
  padding: 1em 4em;
  color: #FFF;
  background-color: #7EB7C1;
  text-align: center; 
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; 
  text-decoration: none;
  background-color: #EE1850;
}

.button:visited {
  color:#fff;
}

.container {
	padding-left: 50px;
  padding-right: 50px;
}

.navlogo {
  max-width:150px;
  padding:0;
}

.description {
  text-align:center;
}

.thumbnail {
  width:100%;
  margin: 20px 0;
  object-fit: fill;
}

.portfolioimg{
  width:100%;
}

.centertext {
  display: block;
  text-align: center;
}

.row {
  margin: 25px 0;
}

.center {
  text-align: center;
}

.socialbutton {
  color:#fff;
  margin:10px;
  display:inline-block;
  max-width: 40px;

}

.emailbutton {
  font-size: .75em;
  font-family: roboto, sans-serif;
  padding: 1em 4em;
  color: #7EB7C1;
  background-color: #FFF;
  text-align: center;
  display:inline-block;
}

  .bgnav {
    background-color: #7EB7C1;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.2);
  }

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
  color:#FFF;
}

.responsive nav {
  padding: 24px 0 0;
  text-align:center;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}



/* #myNavToggle {
  height: 200px;
  width: 100%;
  background-color: #7EB7C1;
  margin:0;
  display:block;
  padding:30px;
  box-shadow: 0 4px 4px 0px rgba(0,0,0,.2);
}

#myNavToggle a {
  color:#fff;
  padding:10px;
  display:block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#myNavToggle a:visited {
  color:#fff;
  opacity: 0.5;
} */



/* ******************* SVG ANIMATION *********************/

@keyframes cloud-move-1 {
  from {transform: translate(0,0px);}
    to {transform: translate(200px,0px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(0,10px);}
    to {transform: translate(200px,0px);}
}

@keyframes bigcloud {
  from {fill:#fff;}
  to {fill: #606060;}
}

.svganim {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.cloud1 {
  animation: 30s cloud-move-1 infinite alternate linear;
}

.cloud2 {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

.bigcloud {
  animation: 10s bigcloud infinite alternate linear;
}



/* ********************** ID *************************************/

#hero {
  padding: 20px;
  display: inline-block;
  overflow: visible;
  width:100%;
}

#hero h1 {
  text-align: center;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

    header {
    text-align: unset;
    padding: 20px 0 13px;
    height:120px;
    margin-bottom: 40px;
    }

    nav {
      width: auto;
      padding-top: 4px;
    }

    nav > ul > li {
      display: inline-block;
    }

    /*main {
      padding-top: 99px;
      background-color: #00F;
    }*/

    body {
      font-size:18pt;
    }

    h1{
      padding-bottom: 20px;
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }

    .navtoggle li .icon {
      display:none;
    }

    .navlogo {
      width:200px;
    }


    


}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  nav {
  font-size: 16pt;
  padding: 20px;
  top:0px;
  margin-bottom: 40px;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
  text-align: left;
  vertical-align: center;
}

nav > ul > li {
  display: inline-block;
  margin: 0 10px;
}

nav > ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
}

a:visited {
  color: #FFF;
  opacity: 0.5;
}

  picture {
    max-width: 100%;
    align-items: center;
  }

  p{
    font-size: 14pt;
  }




    .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .bgnav {
    background-color: #7EB7C1;
    box-shadow: 0 4px 4px 0px rgba(0,0,0,.2);
  }

  .navlogo {
    display: inline-block;
    margin-right: 20px;
  }

  .noliststyle {
    list-style-type: none;
  }

  .col-md-6 {
      width: 50%;
      margin: 50px, 20px;
      padding: 20px;
    }

    .svganim {
      max-width: 75%;
      vertical-align: middle;
    }




    [class*="col-"] {
      float: left;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }


    #hero span {
      display: block;
    }


}




/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

   .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }


}

